$primary-color: #FFFFFF;

#preloader {
    background-color: $primary-color;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

