/*========================
    9. TESTIMONIAL SECTION
========================*/
.testimonial-box {
    line-height: 23.5px;
    .testimonial_icon {
      font-size: 3rem;
    }
    .author_picture {
      width: 70px;
      height: 70px;
    }
    .author_info {
      h3 {
        font-size: 1.2em;
        font-weight: 600;
      }
    }
  }